<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Equal Education</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="styles/bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/carousel.css" rel="stylesheet">
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="index.html">Equal Education</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="school.html">School Districts</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="volunteer.html">Volunteer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="charity.html">Charity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </header>
    
      <main role="main">
    
        <div class="container marketing my-5">
    
          <!-- <hr class="featurette-divider"> -->
    
          <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #659dbd;">
            <span class="navbar-brand">Volunteer Events</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Filter by State
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Alabama</a>
                    <a class="dropdown-item" href="#">Alaska</a>
                    <a class="dropdown-item" href="#">Arizona</a>
                    <a class="dropdown-item" href="#">Arkansas</a>
                    <a class="dropdown-item" href="#">California</a>
                    <a class="dropdown-item" href="#">Colorado</a>
                    <a class="dropdown-item" href="#">Connecticut</a>
                    <a class="dropdown-item" href="#">Delaware</a>
                    <a class="dropdown-item" href="#">Florida</a>
                    <a class="dropdown-item" href="#">Georgia</a>
                    <a class="dropdown-item" href="#">Hawaii</a>
                    <a class="dropdown-item" href="#">Idaho</a>
                    <a class="dropdown-item" href="#">Illinois</a>
                    <a class="dropdown-item" href="#">Indiana</a>
                    <a class="dropdown-item" href="#">Iowa</a>
                    <a class="dropdown-item" href="#">Kansas</a>
                    <a class="dropdown-item" href="#">Kentucky</a>
                    <a class="dropdown-item" href="#">Louisiana</a>
                    <a class="dropdown-item" href="#">Maine</a>
                    <a class="dropdown-item" href="#">Maryland</a>
                    <a class="dropdown-item" href="#">Massachusetts</a>
                    <a class="dropdown-item" href="#">Michigan</a>
                    <a class="dropdown-item" href="#">Minnesota</a>
                    <a class="dropdown-item" href="#">Mississippi</a>
                    <a class="dropdown-item" href="#">Missouri</a>
                    <a class="dropdown-item" href="#">Montana</a>
                    <a class="dropdown-item" href="#">Nebraska</a>
                    <a class="dropdown-item" href="#">Nevada</a>
                    <a class="dropdown-item" href="#">New Hampshire</a>
                    <a class="dropdown-item" href="#">New Jersey</a>
                    <a class="dropdown-item" href="#">New Mexico</a>
                    <a class="dropdown-item" href="#">New York</a>
                    <a class="dropdown-item" href="#">North Carolina</a>
                    <a class="dropdown-item" href="#">North Dakota</a>
                    <a class="dropdown-item" href="#">Ohio</a>
                    <a class="dropdown-item" href="#">Oklahoma</a>
                    <a class="dropdown-item" href="#">Oregon</a>
                    <a class="dropdown-item" href="#">Pennsylvania</a>
                    <a class="dropdown-item" href="#">Rhode Island</a>
                    <a class="dropdown-item" href="#">South Carolina</a>
                    <a class="dropdown-item" href="#">South Dakota</a>
                    <a class="dropdown-item" href="#">Tennessee</a>
                    <a class="dropdown-item" href="#">Texas</a>
                    <a class="dropdown-item" href="#">Utah</a>
                    <a class="dropdown-item" href="#">Vermont</a>
                    <a class="dropdown-item" href="#">Virginia</a>
                    <a class="dropdown-item" href="#">Washington</a>
                    <a class="dropdown-item" href="#">West Virginia</a>
                    <a class="dropdown-item" href="#">Wisconsin</a>
                    <a class="dropdown-item" href="#">Wyoming</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sort By
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Date</a>
                    <a class="dropdown-item" href="#">Event Name</a>
                    <a class="dropdown-item" href="#">Organization</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search for Events" aria-label="Search">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    
          <br>
          <br>
    
          <div class="row">
            <div class="col-md-4 text-center">
              <div class="card mb-4 box-shadow">
                <div class="distimg"><a href="volunteer1.html"><img class="card-img-top" src="images/district-placeholder.jpg" alt=""></a></div>
                <div class="card-body">
                  <h2 class="card-text"><a href="volunteer1.html">Event #1</a></h2>
                  <p class="card-text"><span>Location</span></p>
                  <p class="card-text"><span>Description</span></p>
                  <p class="card-text"><span>Skills Required</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="card mb-4 box-shadow">
                <div class="distimg"><a href="volunteer2.html"><img class="card-img-top" src="images/district-placeholder.jpg" alt=""></a></div>
                <div class="card-body">
                  <h2 class="card-text"><a href="volunteer2.html">Event #2</a></h2>
                  <p class="card-text"><span>Location</span></p>
                  <p class="card-text"><span>Description</span></p>
                  <p class="card-text"><span>Skills Required</span></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 text-center">
              <div class="card mb-4 box-shadow">
                  <div class="distimg"><a href="volunteer3.html"><img class="card-img-top" src="images/district-placeholder.jpg" alt=""></a></div>
                  <div class="card-body">
                    <h2 class="card-text"><a href="volunteer3.html">Event #3</a></h2>
                    <p class="card-text"><span>Location</span></p>
                    <p class="card-text"><span>Description</span></p>
                    <p class="card-text"><span>Skills Required</span></p>
                  </div>
                </div>
            </div>
          </div>
    
        </div>
    
        <hr class="featurette-divider">
    
    
    
    
    
    
    
    
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; Equal Education &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>
    
    
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.min.js"></script>
    </body>
</html>
