.margin-top {
  margin-top: 60px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
