.float-right {
    color: black;
    font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
}

.float-left {
    color: black;
    font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
}
