.Logo-img {
    width: auto;
    height: 300px;
}

.Logo-subtitle {
    padding-bottom: 15px;
    font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
}

.title-size {
    font-size: 1.65rem;
}

.Buttons {
    padding-top: 15px;
    font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
}

.Card-margin {
    margin-bottom: 15px;
    font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
}

.read-more-button {
	font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
    color: blue;
}
