.Logo-img {
    width: auto;
    height: 300px;
}

.Logo-subtitle {
    padding-bottom: 15px;
}

.title-size {
    font-size: 1.65rem;
}

.Buttons {
    padding-top: 15px;
}

.Card-margin {
    margin-bottom: 15px;
}

.read-more-button {
    color: blue;
}
