.mission {
	text-align: left;
	font-family: "Gill Sans MT", "Gill Sans", "My Gill Sans", serif;
	font-family: fantasy;
	font-size: 20px;
	margin-right: 190px;
	margin-left: 190px;
	margin-bottom: 38px;
}